<div class="container-new div">
  <h1>Add a menu item</h1>
  <%= simple_form_for [ @shop, @menu ] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add to menu", class: "btn btn-info mt-2"%>
  <% end %>
</div>
