<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cf46ca73864367.5c1818850574b.jpg);">
  <div class="row">
    <div class="col-md-7 my-auto">
      <h1><%= @shop.name %></h1>
    </div>
    <div class="col-md-5">
      <div class="card-product">
        <div class="card-product-infos">
          <h2>About</h2>
            <div class="d-flex">
              <% @shop.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - @shop.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
          <p><i class="fas fa-map-pin"></i> <%= @shop.address %></p>
          <%= link_to 'Edit Info', edit_shop_path(@shop), class: "btn btn-info"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <div class="container-menu">
    <h2>Menu Items</h2>
    <%= link_to 'Add Item', new_shop_menu_path(@shop), class: "btn btn-info" %>
  </div>
  <div class="row">
    <% @shop.menus.each do |menu| %>
      <div class="col-md-6">
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= menu.name %></h2>
              <p><%= menu.description %></p>
            </div>
            <h2>＄<%= menu.price%></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
